# Streamlit & data
streamlit==1.46.1
pandas==2.3.1
numpy==2.3.1
openpyxl==3.1.5
python-dotenv==1.1.1

# Audio processing
assemblyai==0.42.0
pydub==0.25.1
audio-recorder-streamlit==0.0.10
streamlit-webrtc==0.63.3

# LangChain + LLM agents
langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-experimental==0.3.4
langchain-google-genai==2.1.7

# Gemini / Google LLM
google-ai-generativelanguage==0.6.18
proto-plus==1.26.1
protobuf==6.31.1

# Utils
tabulate==0.9.0
typing-inspect==0.9.0
rich==14.0.0


# TTS
# pyttsx3                      Type - ignore : only works in local
gtts==2.5.4

## STT
SpeechRecognition==3.14.3    
# PyAudio==0.2.14              Type - ignore : only works in local